# ignore everything
/*
*.*

# add gitignore file
!/.gitignore


# only selected folders will be uploaded
!/Codeforces/
!/LightOj/
!/Uva/
!/Project Euler/

# only c/c++/python files will be added
!/**/*.c
!/**/*.cpp
!/**/*.py

# ignore temp/del files
**/temp*
**/del*
